<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">REGISTRE</span>
    </div>
    <div class="ui-helper-clearfix">
      <p-button *ngIf="isAuthenticated()" icon="pi pi-sign-out" (click)="logout()"></p-button>
    </div>
  </p-header>
  <router-outlet></router-outlet>
</p-panel>

