<div>
  <form #loginForm="ngForm" >
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" class="form-control" [(ngModel)]="username" />

    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" class="form-control" [(ngModel)]="password" />

    </div>
    <div class="">
      <div
        *ngIf="loginError"
        class="alert text-center"
        style="    color: rgb(216, 105, 105); font-size: 15px;"
      >
        Email ou mot de passe incorrect
      </div>
    </div>
    <div class="form-group">
      <button  class="btn btn-primary" (click)="login(this.username, this.password)">S'authentifier</button>
      <a routerLink="/auth/signup" class="btn btn-link">S'inscrire</a>
    </div>
  </form>
</div>
