<p-table [value]="visites">
  <ng-template pTemplate="header">
    <tr>
      <th>Nom Visiteur</th>
      <th>Prenom Visiteur</th>
      <th>Date</th>
      <th>Début</th>
      <th>Fin</th>
      <th>Numero Badge</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-visite>
    <tr>
      <td>{{visite.nomVisiteur}}</td>
      <td>{{visite.prenomVisiteur}}</td>
      <td>{{visite.dateVisite | date: "dd/MM/yyyy"}}</td>
      <td>{{visite.debut}}</td>
      <td>{{visite.fin}}</td>
      <td>{{visite.numeroBadge}}</td>
      <td> <span [class]="'customer-badge status-' + visite.status">{{getLabelStatutsByCode(visite.status)}}</span></td>
      <td> Button editer, supprimer, etc</td>
    </tr>
  </ng-template>
</p-table>

<div *ngFor="let u of user">
  <span>{{u.username}}</span>
</div>
