.customer-badge {
  border-radius: 2px;
  padding: .25em .5em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;

  &.status-1 {
    background-color: #C8E6C9;
    color: #256029;
  }

  &.status-2 {
    background-color: #FFCDD2;
    color: #C63737;
  }


}
